



*{
	padding: 0px;
	margin: 0px;
	border:0px;
}

/*navigator bar*/
.navbar
{ 
      filter:alpha(opacity=60);  
      -moz-opacity:0.6;   
      opacity: 0.6;  
      /*position: fixed;*/
      background: #DAE9F4;

}
.container-fluid{
	position: fixed;
	width: 100%;
}
.container-fluid .navbar-brand
{
	position:absolute;
	top:2px;
	left: 3%;
}

.container-fluid .navbar-brand .testCor
{
	font-size: 30px;
}
.container-fluid .navbar-brand .testCor .initials
{
	font-size: 33px;
	color: #FFC125;
}

.container-fluid .navbar-topic-choose{
	font-size: 10px;
	position:absolute;
	top:2px;
	left: 16%;
	width: 50%;
}

.container-fluid .navbar-topic-choose .navbar-topic-sum
{
	width: 100%;
}

.navbar-topic{
	font-size: 22px;
	margin-left: 10%;
}

.testCor
{
	color:gray;
}

.btn-menu
{
	left: 50px;
}

.glyphicon-list
{
	font-size: 6px;
}

/*section 1*/
#section_1{

}

#section_1_body
{
	width: 100%;
	height: 100%;
	position: absolute;
	/*background-color: #00b9f1;*/
	background:url(../root_images/section_1.jpg) no-repeat 100%;
}

#section_1_body #blue_floor
{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	color:white;
}

#section_1_body #blue_floor #topic
{
	left:24%;
	top:18%;
	position: absolute;

}
#section_1_body #blue_floor #topic h1{
	font-size: 42px;
}
#section_1_body #blue_floor #topic footer
{
	color:white;
}

#section_1_body #blue_floor #topic li
{
	font-size: 23px;
}

#section_1_body #login_btn
{
	position: absolute;
	left: 82%;
	top:18%;
	font-size: 10px;
}


/*section 2*/
#section_2_body
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: white;
}

#section_2_body #section_2_left
{
	position: absolute;
	width: 65%;
	height: 100%;
	left: 35%;
	background:url(../root_images/section_2_right.jpg) no-repeat 100% 50%;
}

#section_2_body .blog_kind
{
	width: 11%;
	height: 30%; 
	background-color: white;
	position: absolute;
	border-radius: 10px;
	box-shadow: -29px 29px 60px -7px hsla(203.4334763948498,12.85%,12.41%,.13);
	transition:box-shadow 450ms ease;
}

#section_2_body .blog_kind:hover
{
	box-shadow: -100px 100px 60px -10px hsla(203.4334763948498,12.85%,12.41%,.13);
	transition:box-shadow 400ms ease;
}

#section_2_body #blog_person
{
	top:15%;
	left:44%;
	position: absolute;
}

#section_2_body #blog_csdn
{
	top:55%;
	left:20%;
}

#section_2_body #blog_segmentFault
{
	top:55%;
	left:44%;
}

#section_2_body #blog_jianshu
{
	top:55%;
	left:68%;
}


#section_2_body .blog_pic
{
	width: 100%;
	height: 48%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	/*background-color: red;*/
	position: absolute;
	/*background:url(../root_images/graph.jpg) no-repeat;*/

}
#section_2_body .blog_pic img{
	display: block;
	width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#section_2_body .blog_pic #blog_person_img
{
	width: 80%;
	height: 100%;
	left: 10%;
	position: absolute;

}
#section_2_body .blog_pic #blog_csdn_img
{
	top:18%;
	left: 10%;
	width: 80%;
	height: 60%;
	position: absolute;
}

#section_2_body .blog_pic #blog_segmentFault_img
{
	width: 100%;
	height: 100%;
	position: absolute;
}

#section_2_body .blog_pic #blog_jianshu_img
{
	display: block;
	top: 7%;
	width: 100%;
	height: 86%;
	position: absolute;
	overflow: hidden;
	position: absolute;
}

.sec_title_1
{
	width: 110px;
	height: 110px;
	position: absolute;
	top:110px;
	left: 180px;
	/*background:url(../root_images/chinese_bg.png) no-repeat 100% 100%;*/
}



.sec_title_1 .chinese_title_1
{
	top:6px;
	left: 18px;
	display:block; 
	position: absolute;
	font-size: 66px;
	color: #333030;
}	




.sec_title_2
{
	width: 110px;
	height: 110px;
	position: absolute;
	top:110px;
	left: 290px;
}

.sec_title_2 .chinese_title_2
{
	top:6px;
	left: 18px;
	display:block; 
	position: absolute;
	font-size: 66px;
	color: #8cd790;
}	


#section_2_body #section_title2_1
{
	

}


/*section 3*/

#section_3_body
{
	/*overflow: hidden;*/
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgb(51,97,188);
}

#section_3_body #triangle{
	position: absolute;
	width: 72%;
	height: 100%;
	left: 14%;
}
#section_3_body #left_triangle
{
	top:32%;
	width: 47%;
	height: 70%;
	left:11%;
	background-color: white;
	/*box-show*/
	position: absolute;
	z-index: 2;
}

#section_3_body #right_triangle
{
	top:6%;
	width: 38%;
	height: 88%;
	left: 48%;
	background-color: white;
	position: absolute;
	z-index: 1;
}

#section_3_body .slide-fade-left-enter-active {
  transition: all 0.8s ease;
}

#section_3_body .slide-fade-right-enter-active {
  transition: all 0.8s ease;
}

/*#section_3_body .slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}*/

#section_3_body .slide-fade-left-enter
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(1000px);
  opacity: 0;
}

#section_3_body .slide-fade-right-enter
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(-1000px);
  opacity: 0;
}


/*section 4*/

#section_4_body
{
	/*overflow: hidden;*/
	width: 100%;
	height: 100%;
	position: absolute;
}