





/*navigator bar*/
.navbar{ 
      filter:alpha(opacity=80);  
      -moz-opacity:0.8;   
      opacity: 0.8;  
}
.container-fluid{
	position: fixed;
	width: 100%;
}
.container-fluid .navbar-brand{
	position:absolute;
	top:2px;
	left: 3%;
}

.container-fluid .navbar-brand .testCor
{
	font-size: 30px;
}
.container-fluid .navbar-brand .testCor .initials
{
	font-size: 33px;
	color: #FFC125;
}

.container-fluid .navbar-topic-choose{
	position:absolute;
	top:2px;
	left: 16%;
	width: 50%;
}

.container-fluid .navbar-topic-choose .navbar-topic-sum{
	width: 100%;
}

.navbar-topic{
	font-size: 22px;
	margin-left: 10%;
}

.testCor
{
	color:gray;
}

.btn-menu
{
	left: 50px;
}

.glyphicon-list{
	font-size: 6px;
}