
label{
	font: 20px "Microsoft Yahei";
	color: #4F4F4F;
	}

#section_1{
	background-color: white;
	position: relative;
	overflow: hidden;

	/*position:relative;*/
	/*position: relative;*/
	/*background-image: url(f.jpg) no-repeat;*/
}


.section_body{
	height: 100vh;
	width: 100vw;
	background:url(../root_images/deer_1.jpg) no-repeat 100% fixed;
	overflow: hidden;
	/*position: relative;*/
}

#concel_head{
	height: 100vh;
	width: 100vw;
	position: absolute;
	background-color:rgba(255,255,255,1); 
	z-index: 1;
	overflow: hidden;
}

.row{
	top:5%;
	margin: auto;
	width: 90%;
	height: 90%;
	position: relative;
}

.col-md-6{
	/*background-color: red;*/
	/*border-right: 1px solid gray;*/
	/*width: 40%;*/
	height: 90%;
	/*margin: 5%;*/
	position: relative;

}

.head_right{
	border-left: 1px solid #CCCCCC;
}

.head_right{
	/*background-color: red;*/
	position: relative;
}

.head_pic{
	margin: auto;
	top:20%;
	height: 60%;
	width: 60%;
	/*border-radius: 40vh;*/
	position: relative;
	background: url(../root_images/head_right.jpg) 100% no-repeat;
	background-size: 80%;

}
/*#concel_head h1{
	color: black;
}
*/

.head_left{
	display: flex;
	/*兼容 webkit 浏览器 safira */
	display: -webkit-flex; 
	flex-direction: row;
	justify-content:center;
	/*align-items: center;*/
	flex-wrap:wrap;
	position: relative;
	margin: 0;
	padding: 0;

}

.head_title{

	/*background-color: red;*/
	color: black;
	height: 8%;
	width: 80%;
	position: relative;
}
.head_title h1{
	font-size: 32px;
}

.head_form{
	/*background-color:green;*/
	height: 35%;
	width: 80%;
	color: black;
	position: relative;
	font-size: 20px;
	margin: 1px;
	text-align: 10px;
	padding: 1px;

}

.head_form .form-control{
	width: 60%;
	margin: auto;
	color: black;
}

.head_user{
	height: 5%;
	width: 60%;
	/*background-color:purple;*/
	position: relative;
	font-size: 10px;
	margin: 1px;
	text-align: 10px;
	padding: 1px;
}



#section_1_left{
	
	border-bottom: 150vh solid rgba(0,0,0,0.5);
	border-right: 	100vw solid transparent;	
	position: relative;
	top:-20vh;
	left: -6vw;
	/*overflow: hidden;*/
}

#logo{
	top:8%;
	left: 3%;
	width: 120px;
	height: 100px;
	background: url(../root_images/logo.png) no-repeat;
	background-size: 600%;
	position: absolute;
}

#motto{
	top:48%;
	left: 11%;
	width: 400px;
	height: 100px;
	background: url(../root_images/motto.png) no-repeat;
	background-size: 100%;
	position: absolute;

}

.btn_github{
	position: fixed;
	top:90%;
	left: 2%;
	background-color:  rgba(0,0,0,0.5);
}
.btn_github span{
	color: white;
}

.no_pad_mar{
	margin: 0;
	padding: 0;

}

#index{
	position: absolute;
	width: 120px;
	height: 300px;
	top: 10%;
	left: 80%;
	/*清除多余的*/
	font-size: 0;
}
#button_index_group
{
	width: 120px;
	height:200px;
}


#button_index span{
	font-size: 8px;
}

.list-group-item{
	font-size: 6px;
}

/*h1{font: 50px "Microsoft Yahei"; color: #fff;}*/


/*
*	第一页过渡动画
*/
.concel-head-enter-active {
  transition: all .8s ease;
}
.concel-head-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.concel-head-enter, .concel-head-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateY(-1600px);
  opacity: 0;
}

.concel-left-enter-active {
  transition: all .8s ease;
}
.concel-left-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.concel-left-enter, .concel-left-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(-1600px);
  opacity: 0;
}

.concel-btn-enter-active {
  transition: all .8s ease;
}
.concel-btn-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.concel-btn-enter, .concel-btn-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(1000px);
  opacity: 0;
}

.concel-cha-enter-active, .concel-cha-leave-active {
  transition: opacity .5s;
}
.concel-cha-enter, .concel-cha-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}